          <div class="news">
            <div class="section-heading-wrap">
              <h2 class="section-heading">News</h2>
            </div>
            {% if site.news != blank -%}
                {%- assign news_size = site.news | size -%}
                {%- assign news = site.news | reverse -%}
                {% if site.news_limit %}
                  {% assign news_limit = site.news_limit %}
                {% else %}
                  {% assign news_limit = 4 %}
                {% endif %}
                <ul class="news-list">
                  {% for item in news limit: news_limit %}
                    <li class="news-item">
                      <span class="news-date">{{ item.date | date: "%b %-d, %Y" }}</span>
                      <span class="news-content">
                        {% if item.inline -%}
                          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                        {%- else -%}
                          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                        {%- endif %}
                      </span>
                    </li>
                  {%- endfor %}
                </ul>
                <div class="news-more">
                  <a href="{{ '/news/' | relative_url }}">View all news <span aria-hidden="true">→</span></a>
                </div>
            {%- else -%}
                <p>No news so far...</p>
            {%- endif %}
          </div>
